<h2><%= @user.username %></h2>
<p><%= @user.email %></p>
<p><%= @user.name %></p>
<% if admin? %>
	<%= link_to "Back to users", users_path, class: 'btn btn-default' %>
<% end %>
<%= link_to "Edit", edit_user_path(@user), :class => 'btn btn-default' %>
<%= link_to "Delete", user_path(@user), 
					method: :delete,
					data: {confirm: 'Are you sure?'},
					:class => 'btn btn-danger' %>