<h2><%= @room.name %>
	<% if @room.private %>
		(Private)
	<% end %>
</h2>
<p>Owner: <%= User.find_by_id(@room.owner).name%></p>
<% if current_user?(User.find_by_id(@room.owner)) or admin? %>
	<%= link_to "Edit", edit_room_path(@room), :class => 'btn btn-default' %>
	<%= link_to "Delete", room_path(@room), 
					method: :delete,
					data: {confirm: 'Are you sure?'},
					:class => 'btn btn-danger' %>
<% end %>
<% if not current_user.userrooms.rooms.id.include?(@room.id)%>
	<% if @room.private %>
		<%= form_for(@roomuser) do |f| %>
			<div class="col-md-6 col-md-offset-3", style="margin-bottom:10">
				<div style="text-align:center;">
					<%= f.submit yield('Request to Join Room'), value:@room.id, class: 'btn btn-warning' %>
				</div>
			</div>
		<% end %>
	<% else %>
		<%= form_for(@roomuser) do |f| %>
			<div class="col-md-6 col-md-offset-3", style="margin-bottom:10">
				<div style="text-align:center;">
					<%= f.submit yield('Join Room'), value:@room.id, class: 'btn btn-success' %>
				</div>
			</div>
		<% end %>
	<% end %>
<% elsif not current_user.roowowners.room_id.include?(@room.owner)%>
	<%= form_for(@roomuser) do |f| %>
		<div class="col-md-6 col-md-offset-3", style="margin-bottom:10">
			<div style="text-align:center;">
				<%= f.submit yield('Leave Room'), value:@room.id, class: 'btn btn-danger' %>
			</div>
		</div>
	<% end %>
<% end %>
